VITE_SCANME_API_BASE_URL=https://api-id.execute-api.eu-west-1.amazonaws.com
VITE_SCANME_USE_MOCK_AUTH=true
VITE_SCANME_REDIRECT_BASE_URL=https://api-id.execute-api.eu-west-1.amazonaws.com
VITE_SCANME_QR_PREVIEW_BASE_URL=https://api.qrserver.com/v1/create-qr-code/
