.DS_Store
.idea/
.vscode/settings.json

.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
*.auto.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

dist/
build/
coverage/
node_modules/
*.tsbuildinfo

artifacts/
